*.bs
*.def
*.o
*.c
*.bak
*.old
*.base
*.exp
*.s
*.inc
*.zip
*.dll
*.lnk
pm_to_blib
Groonga2.c
blib/
tmp/
win32/
MYMETA.*
Makefile
db/
src/
typemap
lib/Groonga/API/Constants.pm
lib/Groonga/API/Exports.pm
